/*colors*/

$fontcolor: #2a201e;
$whitebg:rgb(243, 243, 243);
$brown1: #6a2e23;
$brown2: #bd8053;
$brown3: #dbad8b;
$blue1: #4d6277;

/*fonts*/
$mainfont:'Poppins', sans-serif;

/*Media queries*/
$media1: 600px;